@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  height: 3000px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

:focus{
  outline: 0;
}

::selection {
  background: #E63D4F;;
  color: #fff;
}

#overlay{
  display: none;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

#overlay.active{
  display: block;
}

.links.active{
  background-color: #E63D4F;
  display: inline-block;
  border-radius: 10px;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center{
  text-align: center !important;
}

.sec-heading{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.sec-subheading{
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Slab', serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.2;
}

.button{
  width: 150px;
  padding: 15px 20px;
  margin: 30px 0 0 0;
  font-size: 14px;
  color: #fff;
  background-color: #E63D4F;
  text-align: left;
  border: #E63D4F;
  border-radius: 10px;
  transition: .3s ease-in-out;
  text-decoration: none;
}

/* .button:hover{
  color: white;
  background-color: #27ae60;
} */

.big-button{
  display: inline-block;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #E63D4F;
  border-color: #E63D4F;
}

.big-button:hover,
.button:hover{
  color: #fff;
  background-color: #ff6b81;
  border-color: #ff6b81;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #E63D4F;
  color: white;
  cursor: pointer;
  padding: 13px;
  border-radius: 10px;
  font-size: 18px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#myBtn:hover {
  background-color: #ff6b81; /* Add a dark-grey background on hover */
}

.go-to-top-icon{
    width: 30px;
    height: 30px;
    font-size: 30px;
}

#wp-web{
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 1050;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 50px;
  text-align: center;
  /* border: 1px solid #E63D4F; */
  color: #25d366;
  background-color: rgba(0,0,0,0.1);
  margin: 5px;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

#wp-mobil{
  display: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #E63D4F;
  color: #E63D4F;
  margin: 5px;
  transition: .3s ease-in-out;
}

#mobil-tel{position: fixed;left: 30px;bottom: 116px;z-index: 1050;width: 70px;height: 70px;line-height: 70px;font-size: 50px;text-align: center;/* border: 1px solid #E63D4F; */color: rgba(0,0,0,0.6);background-color: rgba(0,0,0,0.1);margin: 5px;border-radius: 50%;transition: .3s ease-in-out;}

nav{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: none;
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  background-color: transparent;
}

nav .container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  height: 50px;
  margin: 0 auto;
  
}

nav .container .navbar-logo{
  max-height: 100%;
  font-size: 1.5em;
  transition: font-size 0.3s ease-in-out;
  color: #ffc800;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

nav .container .navbar-logo img{
  height: 50px;
  transition: height 0.3s ease-in-out;
}

nav .container .link-content{
  
}

nav .container .link-content ul{
  display: flex;
  margin-bottom: 0;
}

nav .container .link-content ul li{
  padding: 5px;
  margin-right: 1rem;
  list-style: none;
}

nav .container .link-content ul li a {
  text-decoration: none;
  font-size: 0.95rem;
  letter-spacing: 0.0625em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
}

.masthead{
  height: 100vh;
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  text-align: center;
  color: #fff;
  background-image: url(../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.masthead .masthead-subheading {
  font-family: 'Roboto Slab', serif;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  
}

.masthead .masthead-heading {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
}

.second-section{
  padding: 6rem 0;
}

.second-section .container{
  max-width: 1320px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.second-section .container .text-content{

}

.sec-heading{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.sec-subheading{
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Slab', serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.2;
}

.second-section .container .item-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.second-section .container .item-content .card{
  width: calc(33.33333% - 24px);
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.second-section .container .item-content .card .icon{
  margin: 5px 0;
  height: 124px;
  width: 124px;
  color: #fff;
  font-size: 64px;
  line-height: 124px;
  background-color: #E63D4F;
  text-align: center;
  border-radius: 50%;
}

.second-section .container .item-content .card .icon-title {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.5rem;
}

.second-section .container .item-content .card .icon-text{
  font-family: 'Roboto Slab', serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.experience-section{
  padding: 96px 0;
  background-color: #F8F9FA;
}

.experience-section .container{
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-list{
  margin: 50px 0;
}

.exp-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: auto;
  overflow: hidden;
}

.exp-item{
  /* margin-bottom: 30px; */
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-item img{
  height: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all .3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-hover-div{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(230, 61, 79, 0.8);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exp-item:hover .exp-hover-div{
  display: flex;
}

.exp-hover-div svg{
  width: 75px;
  height: 75px;
}


.experience-caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.experience-caption-heading{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.experience-caption-subheading{
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-style: italic;
  color: #6c757d;
  font-weight: 400;
  margin-top: 0.5rem;
}

.experience-modal{
  width: 97%;
  height: 94%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 3rem 20rem;
  position: fixed;
  z-index: 1050;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  left: 1.5%;
  top: 3%;
  transition: all .3s ease-in-out;
  background-color: #F8F9FA;
}

.experience-modal.active{
  display: flex;
}

.experience-modal .experience-text-content{
  margin-bottom: 40px;
}

.experience-modal .experience-text-content .experience-modal-heading{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.experience-modal .experience-text-content .experience-modal-subheading{
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.75;
  margin: .7rem 0 0 0;
}

.experience-modal .experience-modal-img{
  height: 450px;
  width: 600px;
  margin-bottom: 40px;
  overflow: hidden;
}

.experience-modal .experience-modal-img img{
  height: 100%;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.experience-modal .experience-modal-caption{
  padding: 1rem 10rem;
}

.experience-modal .experience-modal-caption p{
  font-family: 'Roboto Slab', serif;
  line-height: 1.75;
}

.experience-modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.experience-modal-close:hover {
  opacity: 0.3;
}

.experience-modal-close img{
  margin-bottom: 2rem;
  vertical-align: middle;
}

.third-section{
  padding: 96px 0;
}

.third-section .container{
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.box-item{
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.box-item img{
  height: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all .4s ease-in-out;
  border-radius: 10px;
}

.box-item:hover img{
  transform: scale(1.1);
}

.box-menu{
  text-align: center;
}

.box-menu ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.box-menu ul li{
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 60px;
  margin: 34px 4px 60px 4px;
  background-color: #E63D4F;
  font-size: 18px;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
}

.box-menu ul li.mixitup-control-active{
  background-color: #000;
}

.third-section .container .item-content{
  margin: 60px 12px 0 12px;
  display: flex;
  flex-wrap: wrap;
}

.third-section .container .item-content .galery-card{
  max-width: 26rem;
  width: calc(33.333333% - 24px);
  margin: 0 12px;
  margin-bottom: 1.5rem;
}

.third-section .container .item-content .galery-card img{
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
}

.third-section .container .galery-button{
  margin: 50px auto 0 auto;
}

.fourth-section{
  padding: 96px 0;
  background-color: #F8F9FA;
}

.fourth-section .container{
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fourth-section .container .timeline{
  position: relative;
  padding: 0;
  list-style: none;
  margin-top: 64px;
  margin-bottom: 1rem;
}

.fourth-section .container .timeline::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.fourth-section .container .timeline > li{
  min-height: 300px;
  position: relative;
  margin-bottom: 100px;
}

.fourth-section .container .timeline > li::before{
  display: table;
  content: " ";
}

.fourth-section .container .timeline > li .timeline-image{
  width: 200px;
  height: auto;
  margin-left: -85px;
  left: 40%;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 10px;
  /* background-color: #ffc800; */
}

.inverted-photo{
  left: 58% !important;
}

.fourth-section .container .timeline > li .timeline-image img{
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.fourth-section .container .timeline > li .timeline-panel{
  padding: 0 120px 20px 20px;
  float: left;
  width: 41%;
  text-align: left;
  position: relative;
}

.fourth-section .container .timeline > li .timeline-panel .timeline-heading{
  margin-top: 0;
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.fourth-section .container .timeline > li .timeline-panel .timeline-body{

}

.fourth-section .container .timeline > li .timeline-panel .timeline-body p{
  color: #6c757d !important;
  line-height: 1.75;
}

/* TİME LİNE RİGHT SİDE */

.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel {
  padding: 0 20px 20px;
}

.fourth-section .container .timeline  > li.timeline-inverted > .timeline-panel {
  padding: 0 20px 20px 125px;
}

.fifth-section{
  padding: 96px 0;
}

.fifth-section .container{
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fifth-section .container .item-content{
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
}

.fifth-section .container .item-content .price-card{
  width: calc(25% - 24px);
  margin: 0 12px 20px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(128, 128, 128,0.5);
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.fifth-section .container .item-content .price-card:hover{
  background-color: rgba(255, 107, 129,0.2);
}

.fifth-section .container .item-content .price-card .price-logo{
  width: 75px;
  height: 75px;
  overflow: hidden;
  padding: 10px;
  margin: 10px 0 20px 0;

}

.fifth-section .container .item-content .price-card .price-logo img{
  width: 100%;
}

.fifth-section .container .item-content .price-card .price-title{
  width: 100%;
  margin-bottom: 20px;
}

.fifth-section .container .item-content .price-card .price-value{
  margin-bottom: 10px;
}



.sixth-section{
  padding: 96px 0;
  background-color: #F8F9FA;
}

.sixth-section .container{
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sixth-section .container .content{
  max-width: 1140px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.sixth-section .container .content .left{
  position: relative;
  width: 730px;
  display: flex;
  flex-direction: column;
}

.sixth-section .container .content .left .medium-title{
  color: #444;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}

.sixth-section .container .content .left .name-subject-div{
  position: relative;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.sixth-section .container .content .left .name-subject-div .form-row{
  position: relative;
  width: 49%;
  margin: 10px 0;
}

.sixth-section .container .content .left .name-subject-div .form-row .icon{
  margin: 5px 0;
    height: 124px;
    width: 124px;
    color: #fff;
    font-size: 64px;
    line-height: 124px;
    background-color: #ffc800;
    text-align: center;
    border-radius: 50%;
}

.sixth-section .container .content .left .name-subject-div .form-row i{
  position: absolute;
  left: 20px;
  top: 16px;
  font-size: 15px;
  border-radius: 0;
}

.sixth-section .container .content .left .mail-div,
.sixth-section .container .content .left .phone-div .form-row,
.sixth-section .container .content .left .adress-div .form-row{
  position: relative;
  width: 100%;
  margin: 10px 0 ;
}

.sixth-section .container .content .left .mail-div .form-row i,
.sixth-section .container .content .left .phone-div .form-row i,
.sixth-section .container .content .left .adress-div .form-row i{
  position: absolute;
  left: 20px;
  top: 16px;
  font-size: 15px;
  border-radius: 0;
}

.sixth-section .container .content .left .name-subject-div .form-row input[type="text"],
.sixth-section .container .content .left .mail-div .form-row input[type="email"],
.sixth-section .container .content .left .phone-div .form-row input[type="tel"],
.sixth-section .container .content .left .adress-div .form-row input[type="text"],
.sixth-section .container .content .left .textarea-div textarea{
  width: 100%;
  height: 50px;
  padding: 0 30px 0 50px;
  border: 1px solid rgba(198, 198, 198, 0.6);
  border-radius: 10px;
  font-weight: 500;
  transition: .3s ease-in-out;
  font-family: 'Roboto Slab', serif;
}

.sixth-section .container .content .left .textarea-div{
  margin-top: 20px;
}

.sixth-section .container .content .left .textarea-div textarea{
  height: 250px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
  padding-top: 15px;
}

.sixth-section .container .content .left .name-subject-div .form-row input[type="text"]::placeholder,
.sixth-section .container .content .left .mail-div .form-row input[type="email"]::placeholder,
.sixth-section .container .content .left .phone-div .form-row input[type="tel"]::placeholder,
.sixth-section .container .content .left .adress-div .form-row input[type="text"]::placeholder,
.sixth-section .container .content .left .textarea-div textarea::placeholder{
  color: rgba(0, 0, 0,0.3);
  font-size: 16px;
}

.sixth-section .container .content .left .name-subject-div .form-row input[type="text"]:focus,
.sixth-section .container .content .left .mail-div .form-row input[type="email"]:focus,
.sixth-section .container .content .left .phone-div .form-row input[type="tel"]:focus,
.sixth-section .container .content .left .adress-div .form-row input[type="text"]:focus,
.sixth-section .container .content .left .textarea-div textarea:focus{
  border-color: #E63D4F;
}

/* .sixth-section .container .content .left .button{
  width: 150px;
  padding: 15px 20px;
  margin: 30px 0 0 0;
  font-size: 14px;
  color: #27ae60;
  text-align: left;
  border: 2px solid #27ae60;
  transition: .3s ease-in-out;
  font-family: 'Roboto Slab', serif;
}

.sixth-section .container .content .left .button:hover{
  color: white;
  background-color: #27ae60;
} */

.sixth-section .container .content .right{
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.sixth-section .container .content .right .medium-title{
  color: #444;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.sixth-section .container .content .right .text{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}

.sixth-section .container .content .right .text .adress{
  font-size: 14px;
  color: #6c757d;
  line-height: 1.8;
  margin-bottom: 20px;
}

.sixth-section .container .content .right .text .tel a{
  text-decoration: none;
  color: #6c757d;
  display: block;
  margin-bottom: 20px;
  /* margin-top: 5px; */
  font-size: 14px;
}

.sixth-section .container .content .right .mail a{
  text-decoration: none;
  color: #6c757d;
  display: block;
  margin-bottom: 20px;
  /* margin-top: 0px; */
  font-size: 14px;
}

.sixth-section .container .content .right .text .info{
  margin-top: 30px;
}

.sixth-section .container .content .right .text .info p{
  color: #6c757d !important;
  line-height: 1.75;
}

.sixth-section .container .content .right .text .social-media{
  display: flex;margin-top: 40px;
}

.sixth-section .container .content .right .text .social-media .social-item{
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 15px;
}

.sixth-section .container .content .right .text .social-media .social-item a{
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: black;
}

.sixth-section .container .content .right .text .social-media .social-item a{width: 100%;height: 100%;}

.sixth-section .container .content .right .text .social-media .social-item a svg{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

footer{
  padding: 48px 0;
  /* background-color: #F8F9FA; */
}

footer .container{
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

footer .foot-heading{
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

footer .foot-text{font-size: 16px;font-family: 'Roboto Slab', serif;margin-bottom: 10px;color: #6c757d;line-height: 1.75;text-decoration: none;}

footer .container .foot-card{
  width: calc(33.33333% - 24px);
  margin: 0 12px;
}

.foot-social .social-media{
  display: flex;
  margin-top: 0;
}

.foot-social .social-media a{
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #E63D4F;
  border-radius: 10px;
  color: #E63D4F;
  margin: 5px;
  transition: .3s ease-in-out;
}

.foot-social .social-media a:nth-child(1):hover{
  color: white;
  background-color: #E4405F;
  border-color: #E4405F;
}

.foot-social .social-media a:nth-child(2):hover{
  color: white;
    background-color: #55acee;
    border-color: #55acee;
}

.foot-about-text{
  margin-right: 100px;
}

.foot-hours, .foot-social{
  margin-top: 20px;
}

.footer-bottom{
  padding: 9px 0;
  background-color: #F8F9FA;
}

.footer-bottom .container{
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  color: #6c757d;
  line-height: 1.75;
  text-decoration: none;}

.footer-bottom .container .copyright{
  margin: 0;
}

.footer-bottom .container a{
  margin: 0 5px;
  color: rgba(230, 61, 79, 0.7);
  font-weight: 700;
}

#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
}
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
  height: 1.5rem;
}


#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}